<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>管理员后台管理</title>
    <link rel="stylesheet" type="text/css" href="/css/Main.css"/>
    <script src="/js/jquery-3.4.1.js" charset="utf-8"></script>
    <script src="/js/checking.js" charset="utf-8"></script>
    <script>
        $(function () {
            Loginname();
            //  SelectLoginMag()
        })

        /**
         * 操作成功跳转登录信息主页
         * @constructor
         */
        function BackLoginMain() {
            // Loginname();
            SelectLoginMag();
        }

        /**
         * 操作成功跳转学生信息主页
         * @constructor
         */
        function BackStudentMain() {
            // Loginname();
            SelectStudentMag()
        }

        /**
         * 操作成功跳转老师信息主页
         * @constructor
         */
        function BackTeacherMain() {
            // Loginname();
            SelectTeacherMag()
        }

        /**
         * 显示欢迎登录名
         * @constructor
         */
        function Loginname() {
            $.ajax({
                type: 'get',
                url: './LoginMag',
                data: {},
                dataType: 'json',
                success: function (data) {
                    var mag = data.data.LoginMag.lusername;
                    var html = mag;
                    $("#strong1").append(html);
                }

            })
        }

        /**
         * 查询登录账户信息
         * @constructor
         */
        function SelectLoginMag() {
            $.ajax({
                type: 'get',
                url: './selectLoginUsers',
                data: {},
                dataType: 'json',
                success: function (data) {
                    $('.right').html("")
                    var html = "<table cellpadding= '0' cellspacing= '0'  border=\"1\" align= 'center' id='tableAdmin'>";
                    html += "<tr align='center'><td>序号</td><td>用户账户</td><td>用户类型</td><td>操作</td></tr>"
                    if (data.code == 20000) {
                        $.each(data.data.selectLoginUsers, function (i, comment) {
                            html += "<tr align='center'><td>" + comment['lid'] + "</td><td>" + comment['lusername'] + "</td>";
                            if (comment['lisadmin'] == 0) {
                                html += "<td>管理员</td>"
                            } else if (comment['lisadmin'] == 1) {
                                html += "<td>老师</td>"
                            } else if (comment['lisadmin'] == 2) {
                                html += "<td>学生</td>"
                            } else {
                                html += "<td>未知身份</td>"
                            }
                            html += "<td ><a href='#' onclick='isDeleteLogin(" + comment.lid + ")'><font color='red'>删除用户信息</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='#' onclick='UpdataLoginMag(" + comment.lid + ")'><font color='red'>修改用户信息</font></a></td>";
                        })
                        html += "</tr></table>";
                    } else {
                        alert(data.message);
                    }
                    $(".right").append(html);
                }
            })
        }

        /**
         * 查询学生信息
         * @constructor
         */
        function SelectStudentMag() {
            $.ajax({
                type: 'get',
                url: './StudentAllMag',
                data: {},
                dataType: 'json',
                success: function (data) {
                    $('.right').html("")
                    var html = "<table cellpadding= '0' cellspacing= '0'  border=\"1\" align= 'center' id='tableAdmin'>";
                    html += "<tr align='center'><td>序号</td><td>学生姓名</td><td>性别</td><td>学生生日</td><td>学生所在班级</td><td>操作</td></tr>"
                    if (data.code == 20000) {
                        $.each(data.data.studentsMag, function (i, comment) {
                            html += "<tr align='center'><td>" + comment['sid'] + "</td><td>" + comment['sname'] + "</td>";
                            if (comment['ssex'] == 0) {
                                html += "<td>女</td>"
                            } else if (comment['ssex'] == 1) {
                                html += "<td>男</td>"
                            } else {
                                html += "<td>未知性别</td>"
                            }
                            html += "<td>" + comment['sbirthday'] + "</td><td>" + comment['sclass'] + "</td>"
                            html += "<td><a href='#' onclick='isDeleteStudent(" + comment.sid + ")'><font color='red'>删除学生信息</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='#' onclick='UpdataStudent(" + comment.sid + ")'><font color='red'>修改学生信息</font></a></td>";
                        })
                        html += "</tr></table>";
                    } else {
                        alert(data.message);
                    }
                    $(".right").append(html);
                }
            })
        }

        /**
         * 查询老师信息
         * @constructor
         */
        function SelectTeacherMag() {
            $.ajax({
                type: 'get',
                url: './TeacherAllMag',
                data: {},
                dataType: 'json',
                success: function (data) {
                    $('.right').html("")
                    var html = "<table cellpadding= '0' cellspacing= '0'  border=\"1\" align= 'center' id='tableAdmin'>";
                    html += "<tr align='center'><td>序号</td><td>教师姓名</td><td>性别</td><td>教师生日</td><td>职务</td><td>操作</td></tr>"
                    if (data.code == 20000) {
                        $.each(data.data.teachersMag, function (i, comment) {
                            html += "<tr align='center'><td>" + comment['tid'] + "</td><td>" + comment['tname'] + "</td>";
                            if (comment['tsex'] == 0) {
                                html += "<td>女</td>"
                            } else if (comment['tsex'] == 1) {
                                html += "<td>男</td>"
                            } else {
                                html += "<td>未知性别</td>"
                            }
                            html += "<td>" + comment['tbirthday'] + "</td><td>" + comment['tdepart'] + "</td>"
                            html += "<td><a href='#' onclick='isDeleteTeacher(" + comment.tid + ")'><font color='red'>删除老师信息</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='#' onclick='UpdataTeacher(" + comment.tid + ")'><font color='red'>修改老师信息</font></a></td>";
                        })
                        html += "</tr></table>";
                    } else {
                        alert(data.message);
                    }
                    $(".right").append(html);
                }
            })
        }


        /**
         * 跳转新增用户界面
         * @constructor
         */
        function InsertLoginMag() {
            //清空right页面
            $('.right').html("")
            var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>登录账号:</font><input style='margin-left: 15px;' type=\"text\" name=\"lusername\" id=\"lusername\" onblur=\"checkInput('lusername')\">"
            html += "<span id=\"lusernameTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>登录密码:</font><input style='margin-left: 15px;' type=\"text\" name=\"lpassword\" id=\"lpassword\" onblur=\"checkInput('lpassword')\">"
            html += "<span id=\"lpasswordTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>账户类型:</font><select id='testSelect' style='margin-left: 15px;'>\n" +
                "      <option value=\"0\">管理员账户</option>\n" +
                "      <option value=\"1\" >老师账户</option>\n" +
                "      <option value=\"2\" selected>学生账户</option>\n" +
                "  </select><br/>"
            html += "<button onclick=\"isInsertLogin()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>添加信息</button></div>"
            $(".right").append(html);
        }

        /**
         * 跳转新增学生界面
         * @constructor
         */
        function InsertStudent() {
            //清空right页面
            $('.right').html("")
            var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>学生姓名:</font><input style='margin-left: 15px;' type=\"text\" name=\"sname\" id=\"sname\" onblur=\"checkInput('sname')\">"
            html += "<span id=\"snameTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>学生生日:</font><input style='margin-left: 15px;' type=\"text\" name=\"sbirthday\" id=\"sbirthday\" onblur=\"checkInput('sbirthday')\">"
            html += "<span id=\"sbirthdayTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>性别:</font><select id='testSelect' style='margin-left: 15px;'>\n" +
                "      <option value=\"1\" selected>男</option>\n" +
                "      <option value=\"0\" >女</option>\n" +
                "  </select><br/>"
            html += "<div style='margin-top: 5px'><font style='font-size: 20px'>学生所在班级:</font><input style='margin-left: 15px;' type=\"text\" name=\"sclass\" id=\"sclass\" onblur=\"checkInput('sclass')\">"
            html += "<span id=\"sclassTitle\"></span><br/>"
            html += "<button onclick=\"isInsertStudent()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>添加学生信息</button></div>"
            $(".right").append(html);
        }

        /**
         * 跳转新增老师界面
         * @constructor
         */
        function InsertTeacher() {
            //清空right页面
            $('.right').html("")
            var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>教师姓名:</font><input style='margin-left: 15px;' type=\"text\" name=\"tname\" id=\"tname\" onblur=\"checkInput('tname')\">"
            html += "<span id=\"tnameTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>教师生日:</font><input style='margin-left: 15px;' type=\"text\" name=\"tbirthday\" id=\"tbirthday\" onblur=\"checkInput('tbirthday')\">"
            html += "<span id=\"tbirthdayTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>性别:</font><select id='testSelect' style='margin-left: 15px;'>\n" +
                "      <option value=\"1\" selected>男</option>\n" +
                "      <option value=\"0\" >女</option>\n" +
                "  </select><br/>"
            html += "<div style='margin-top: 5px'><font style='font-size: 20px'>职务:</font><input style='margin-left: 15px;' type=\"text\" name=\"tdepart\" id=\"tdepart\" onblur=\"checkInput('tdepart')\">"
            html += "<span id=\"tdepartTitle\"></span><br/>"
            html += "<button onclick=\"isInsertTeacher()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>添加老师信息</button></div>"
            $(".right").append(html);
        }


        /**
         * 新增登录用户信息
         */
        function isInsertLogin() {
            if (checkInput('lusername') && checkInput('lpassword')) {
                $.ajax({
                    type: 'post',
                    url: './insertlogin',
                    timeout: 10000,
                    data: {
                        "lusername": $("#lusername").val().trim(),
                        "lpassword": $("#lpassword").val().trim(),
                        "lisadmin": $('#testSelect option:selected').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("添加成功");
                            BackLoginMain();
                        } else {
                            alert("添加失败");
                            InsertLoginMag();
                        }
                    }


                })
            }
        }

        /**
         * 新增学生信息
         */
        function isInsertStudent() {
            if (checkInput('sname') && checkInput('sbirthday') && checkInput('sclass')) {
                $.ajax({
                    type: 'post',
                    url: './insertStudent',
                    timeout: 10000,
                    data: {
                        "sname": $("#sname").val().trim(),
                        "sbirthday": $("#sbirthday").val().trim(),
                        "sclass": $("#sclass").val().trim(),
                        "ssex": $('#testSelect option:selected').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("添加成功");
                            BackStudentMain();
                        } else {
                            alert("添加失败");
                            InsertStudent();
                        }
                    }


                })
            }
        }

        /**
         * 新增老师信息
         */
        function isInsertTeacher() {
            if (checkInput('tname') && checkInput('tbirthday') && checkInput('tdepart')) {
                $.ajax({
                    type: 'post',
                    url: './insertTeacher',
                    timeout: 10000,
                    data: {
                        "tname": $("#tname").val().trim(),
                        "tbirthday": $("#tbirthday").val().trim(),
                        "tdepart": $("#tdepart").val().trim(),
                        "tsex": $('#testSelect option:selected').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("添加成功");
                            BackTeacherMain();
                        } else {
                            alert("添加失败");
                            InsertTeacher();
                        }
                    }


                })
            }
        }

        /**
         * 删除登录信息
         */
        function isDeleteLogin(lid) {
            $.ajax({
                type: 'post',
                url: './deleteLogin',
                timeout: 10000,
                data: {
                    "lid": lid
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 20000) {
                        alert("删除成功");
                        BackLoginMain();
                    } else {
                        alert("删除失败");
                        BackLoginMain();
                    }
                }


            })
        }

        /**
         * 删除学生信息
         * @param sid
         */
        function isDeleteStudent(sid) {
            $.ajax({
                type: 'post',
                url: './deleteStudent',
                timeout: 10000,
                data: {
                    "sid": sid
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 20000) {
                        alert("删除成功");
                        BackStudentMain();
                    } else {
                        alert("删除失败");
                        BackStudentMain();
                    }
                }
            })
        }

        /**
         * 删除老师信息
         * @param tid
         */
        function isDeleteTeacher(tid) {
            $.ajax({
                type: 'post',
                url: './deleteTeacher',
                timeout: 10000,
                data: {
                    "tid": tid
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 20000) {
                        alert("删除成功");
                        BackTeacherMain()
                    } else {
                        alert("删除失败");
                        BackTeacherMain()
                    }
                }
            })
        }

        /**
         * 跳转修改登录用户界面
         * @param lid
         * @constructor
         */
        function UpdataLoginMag(lid) {
            $.ajax({
                type: 'get',
                url: './selectLoginUsersBylid',
                timeout: 10000,
                data: {
                    "lid": lid
                },
                dataType: 'json',
                success: function (data) {
                    //清空right页面
                    $('.right').html("")
                    var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>登录账号:</font><input style='margin-left: 15px;' type=\"text\" name=\"lusername\" id=\"lusername\" onblur=\"checkInput('lusername')\" value='" + data.data.loginusersBylid.lusername + "'>"
                    html += "<span id=\"lusernameTitle\"></span><br/>"
                    html += "<font style='font-size: 20px'>登录密码:</font><input style='margin-left: 15px;' type=\"text\" name=\"lpassword\" id=\"lpassword\" onblur=\"checkInput('lpassword')\" value='" + data.data.loginusersBylid.lpassword + "'>"
                    html += "<span id=\"lpasswordTitle\"></span><br/>"
                    html += "<input id='lid' type='hidden' value='" + data.data.loginusersBylid.lid + "'>"
                    // html += "</input><font style='font-size: 20px'>账户类型:</font><select id='testSelect' style='margin-left: 15px;'>\n"
                    // if (data.data.loginusersBylid.lisadmin == 0) {
                    //     html += "<option value=\"0\" selected>管理员账户</option><option value=\"1\" >老师账户</option><option value=\"2\" >学生账户</option></select><br/>"
                    // } else if (data.data.loginusersBylid.lisadmin == 1) {
                    //     html += "<option value=\"0\">管理员账户</option><option value=\"1\" selected>老师账户</option><option value=\"2\" >学生账户</option></select><br/>"
                    // } else if (data.data.loginusersBylid.lisadmin == 2) {
                    //     html += "<option value=\"0\">管理员账户</option><option value=\"1\" >老师账户</option><option value=\"2\" selected>学生账户</option></select><br/>"
                    // } else {
                    //     html += "<option>无账户信息</option>"
                    // }
                    html += "<button onclick=\"isUpdateLogin()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>修改登录账号信息</button></div>"
                    $(".right").append(html);
                }


            })
        }

        /**
         * 跳转修改学生信息界面
         * @constructor
         */
        function UpdataStudent(sid) {
            $.ajax({
                type: 'get',
                url: './selectStudentBysid',
                timeout: 10000,
                data: {
                    "sid": sid
                },
                dataType: 'json',
                success: function (data) {
                    //清空right页面
                    $('.right').html("")
                    var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>学生姓名:</font><input style='margin-left: 15px;' type=\"text\" name=\"sname\" id=\"sname\" onblur=\"checkInput('sname')\" value='" + data.data.selectStudentBysid.sname + "'>"
                    html += "<span id=\"snameTitle\"></span><br/>"
                    html += "<font style='font-size: 20px'>学生生日:</font><input style='margin-left: 15px;' type=\"text\" name=\"sbirthday\" id=\"sbirthday\" onblur=\"checkInput('sbirthday')\" value='" + data.data.selectStudentBysid.sbirthday + "'>"
                    html += "<span id=\"sbirthdayTitle\"></span><br/>"
                    html += "<input id='sid' type='hidden' value='" + data.data.selectStudentBysid.sid + "'>"
                    html += "<font style='font-size: 20px'>性别:</font><select id='testSelect' style='margin-left: 15px;'>"
                    if (data.data.selectStudentBysid.ssex == 1) {
                        html += "<option value='1' selected>男</option>" +
                            "<option value='0' >女</option></select><br/>"
                    } else if (data.data.selectStudentBysid.ssex == 0) {
                        html += "<option value='1' >男</option>" +
                            "<option value='0' selected>女</option></select><br/>"
                    } else {
                        html += "<option value='1' >未知性别</option></select><br/>"
                    }
                    html += "<div style='margin-top: 5px'><font style='font-size: 20px'>学生所在班级:</font><input style='margin-left: 15px;' type=\"text\" name=\"sclass\" id=\"sclass\" onblur=\"checkInput('sclass')\" value='" + data.data.selectStudentBysid.sclass + "'>"
                    html += "<span id=\"sclassTitle\"></span><br/>"
                    html += "<button onclick=\"isUpdateStudent()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>修改学生信息</button></div>"
                    $(".right").append(html);
                }


            })
        }

        function UpdataTeacher(tid) {
            $.ajax({
                type: 'get',
                url: './selectTeacherBytid',
                timeout: 10000,
                data: {
                    "tid": tid
                },
                dataType: 'json',
                success: function (data) {
                    //清空right页面
                    $('.right').html("")
                    var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>教师姓名:</font><input style='margin-left: 15px;' type=\"text\" name=\"tname\" id=\"tname\" onblur=\"checkInput('tname')\" value='" + data.data.selectTeacherBytid.tname + "'>"
                    html += "<span id=\"tnameTitle\"></span><br/>"
                    html += "<font style='font-size: 20px'>学生生日:</font><input style='margin-left: 15px;' type=\"text\" name=\"tbirthday\" id=\"tbirthday\" onblur=\"checkInput('tbirthday')\" value='" + data.data.selectTeacherBytid.tbirthday + "'>"
                    html += "<span id=\"tbirthdayTitle\"></span><br/>"
                    html += "<input id='tid' type='hidden' value='" + data.data.selectTeacherBytid.tid + "'>"
                    html += "<font style='font-size: 20px'>性别:</font><select id='testSelect' style='margin-left: 15px;'>"
                    if (data.data.selectTeacherBytid.tsex == 1) {
                        html += "<option value='1' selected>男</option>" +
                            "<option value='0' >女</option></select><br/>"
                    } else if (data.data.selectTeacherBytid.tsex == 0) {
                        html += "<option value='1' >男</option>" +
                            "<option value='0' selected>女</option></select><br/>"
                    } else {
                        html += "<option value='1' >未知性别</option></select><br/>"
                    }
                    html += "<div style='margin-top: 5px'><font style='font-size: 20px'>职务:</font><input style='margin-left: 15px;' type=\"text\" name=\"tdepart\" id=\"tdepart\" onblur=\"checkInput('tdepart')\" value='" + data.data.selectTeacherBytid.tdepart + "'>"
                    html += "<span id=\"tdepartTitle\"></span><br/>"
                    html += "<button onclick=\"isUpdateTeacher()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>修改老师信息</button></div>"
                    $(".right").append(html);
                }


            })
        }


        /**
         * 修改登录信息
         */
        function isUpdateLogin() {
            if (checkInput('lusername') && checkInput('lpassword')) {
                $.ajax({
                    type: 'post',
                    url: './updateLogin',
                    timeout: 10000,
                    data: {
                        "lid": $("#lid").val().trim(),
                        "lusername": $("#lusername").val().trim(),
                        "lpassword": $("#lpassword").val().trim()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("修改成功");
                            BackLoginMain();
                        } else {
                            alert("修改失败");
                            BackLoginMain();
                        }
                    }


                })
            }
        }

        /**
         * 修改学生账号信息
         */
        function isUpdateStudent() {
            if (checkInput('sname') && checkInput('sbirthday') && checkInput('sclass')) {
                $.ajax({
                    type: 'post',
                    url: './updateStudent',
                    timeout: 10000,
                    data: {
                        "sid": $("#sid").val().trim(),
                        "sname": $("#sname").val().trim(),
                        "sbirthday": $("#sbirthday").val().trim(),
                        "sclass": $("#sclass").val().trim(),
                        "ssex": $('#testSelect option:selected').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("修改成功");
                            BackStudentMain();
                        } else {
                            alert("修改失败");
                            BackStudentMain();
                        }
                    }
                })
            }
        }

        /**
         * 修改老师信息
         */
        function isUpdateTeacher() {
            if (checkInput('tname') && checkInput('tbirthday') && checkInput('tdepart')) {
                $.ajax({
                    type: 'post',
                    url: './updateTeacher',
                    timeout: 10000,
                    data: {
                        "tid": $("#tid").val().trim(),
                        "tname": $("#tname").val().trim(),
                        "tbirthday": $("#tbirthday").val().trim(),
                        "tdepart": $("#tdepart").val().trim(),
                        "tsex": $('#testSelect option:selected').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("修改成功");
                            BackTeacherMain();
                        } else {
                            alert("修改失败");
                            BackTeacherMain();
                        }
                    }
                })
            }
        }


    </script>
</head>
<body>
<div id="top">
    <div class="l">管理员后台管理</div>
    <div class="r"><strong id="strong1"></strong>，欢迎您！ | <a href="http://localhost:8001">退出</a></div>
</div>
<div id="center">
    <div id="all">
        <div class="left">
            <div id="menus">
                <h3>登录信息管理</h3>
                <div class="m" style="display:block;">
                    <div onclick="SelectLoginMag()">查看登录账号信息</div>
                    <div onclick="InsertLoginMag()">新增登录账号信息</div>
                </div>
                <h3>学生信息管理</h3>
                <div class="m" style="display:block;">
                    <div onclick="SelectStudentMag()">查看学生信息</div>
                    <div onclick="InsertStudent()">新增学生信息</div>
                </div>
                <h3>老师信息管理</h3>
                <div class="m" style="display:block;">
                    <div onclick="SelectTeacherMag()">查看老师信息</div>
                    <div onclick="InsertTeacher()">新增老师信息</div>
                </div>
            </div>
        </div>
        <div class="right" style="width:90%;height:100%;">

        </div>
    </div>
</div>
<div id="foot">管理员</div>
</body>
</html>