<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>管理员后台管理</title>
    <link rel="stylesheet" type="text/css" href="/css/Main.css"/>
    <script src="/js/jquery-3.4.1.js" charset="utf-8"></script>
    <script src="/js/checking.js" charset="utf-8"></script>
    <script>
        $(function () {
            Loginname();
            //  SelectLoginMag()
        })

        /**
         * 操作成功跳转主页
         * @constructor
         */
        function BackMain() {
            Loginname();
            SelectLoginMag();
        }

        /**
         * 显示欢迎登录名
         * @constructor
         */
        function Loginname() {
            $.ajax({
                type: 'get',
                url: './LoginMag',
                data: {},
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    var mag = data.data.LoginMag.lusername;
                    var html = mag;
                    $("#strong1").append(html);
                }

            })
        }

        /**
         * 查询登录账户信息
         * @constructor
         */
        function SelectLoginMag() {
            $.ajax({
                type: 'get',
                url: './selectLoginUsers',
                data: {},
                dataType: 'json',
                success: function (data) {
                    $('.right').html("")
                    var html = "<table cellpadding= '0' cellspacing= '0'  border=\"1\" align= 'center' id='tableAdmin'>";
                    html += "<tr align='center'><td>序号</td><td>用户账户</td><td>用户类型</td><td>操作</td></tr>"
                    if (data.code == 20000) {
                        $.each(data.data.selectLoginUsers, function (i, comment) {
                            html += "<tr align='center'><td>" + comment['lid'] + "</td><td>" + comment['lusername'] + "</td>";
                            if (data.data.selectLoginUsers.lisadmin == 0) {
                                html += "<td>管理员</td>"
                            } else if (data.data.selectLoginUsers.lisadmin == 1) {
                                html += "<td>老师</td>"
                            } else if (data.data.selectLoginUsers.lisadmin == 2) {
                                html += "<td>学生</td>"
                            } else {
                                html += "<td>学生</td>"
                            }
                            html += "<td ><a href='#' onclick='isDeleteLogin(" + comment.lid + ")'><font color='red'>删除用户</font></a></td>";
                        })
                        html += "</tr></table>";
                    } else {
                        alert(data.message);
                    }
                    $(".right").append(html);
                }
            })
        }

        /**
         * 跳转登录界面
         * @constructor
         */
        function InsertLoginMag() {
            //清空right页面
            $('.right').html("")
            var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>登录账号:</font><input style='margin-left: 15px;' type=\"text\" name=\"lusername\" id=\"lusername\" onblur=\"checkInput('lusername')\">"
            html += "<span id=\"lusernameTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>登录密码:</font><input style='margin-left: 15px;' type=\"text\" name=\"lpassword\" id=\"lpassword\" onblur=\"checkInput('lpassword')\">"
            html += "<span id=\"lpasswordTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>账户类型:</font><select id='testSelect' style='margin-left: 15px;'>\n" +
                "      <option value=\"0\">管理员账户</option>\n" +
                "      <option value=\"1\" >老师账户</option>\n" +
                "      <option value=\"2\" selected>学生账户</option>\n" +
                "  </select><br/>"
            html += "<button onclick=\"isInsertLogin()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>添加</button></div>"
            $(".right").append(html);
        }

        /**
         * 信息登录信息
         */
        function isInsertLogin() {
            if (checkInput('lusername') && checkInput('lpassword')) {
                $.ajax({
                    type: 'post',
                    url: './insertlogin',
                    timeout: 10000,
                    data: {
                        "lusername": $("#lusername").val().trim(),
                        "lpassword": $("#lpassword").val().trim(),
                        "lisadmin": $('#testSelect option:selected').val()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("添加成功");
                            BackMain();
                        } else {
                            alert("添加失败");
                            InsertLoginMag();
                        }
                    }


                })
            }
        }

        /**
         * 删除登录信息
         */
        function isDeleteLogin(lid) {
            $.ajax({
                type: 'post',
                url: './deleteLogin',
                timeout: 10000,
                data: {
                    "lid": lid
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 20000) {
                        alert("删除成功");
                        BackMain();
                    } else {
                        alert("删除失败");
                        BackMain();
                    }
                }


            })
        }


    </script>
</head>
<body>
<div id="top">
    <div class="l">管理员后台管理</div>
    <div class="r"><strong id="strong1"></strong>，欢迎您！ | <a href="http://localhost:8001">退出</a></div>
</div>
<div id="center">
    <div id="all">
        <div class="left">
            <div id="menus">
                <h3>登录信息管理</h3>
                <div class="m" style="display:block;">
                    <div onclick="SelectLoginMag()">查看登录账号信息</div>
                    <div onclick="InsertLoginMag()">新增登录账号</div>
                    <div><a href="">修改登录账号</a></div>
                </div>
                <h3>学生信息管理</h3>
                <div class="m" style="display:block;">
                    <div><a href="">查看学生信息</a></div>
                    <div><a href="">新增学生信息</a></div>
                    <div><a href="">修改学生信息</a></div>
                </div>
                <h3>老师信息管理</h3>
                <div class="m" style="display:block;">
                    <div><a href="">查看老师信息</a></div>
                    <div><a href="">新增老师信息</a></div>
                    <div><a href="">修改老师信息</a></div>
                    <div><a href="">菜单管理</a></div>
                </div>
            </div>
        </div>
        <div class="right" style="width:90%;height:100%;">

        </div>
    </div>
</div>
<div id="foot">管理员</div>
</body>
</html>