<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>老师后台管理</title>
    <link rel="stylesheet" type="text/css" href="/css/Main.css"/>
    <script src="/js/jquery-3.4.1.js" charset="utf-8"></script>
    <script src="/js/checking.js" charset="utf-8"></script>
    <script>

        $(function () {
            Loginname();
        })


        /**
         * 显示欢迎登录名
         * @constructor
         */
        function Loginname() {
            $.ajax({
                type: 'get',
                url: './LoginMag',
                data: {},
                dataType: 'json',
                success: function (data) {
                    var mag = data.data.LoginMag.lusername;
                    var html = mag;
                    $("#strong1").append(html);
                }

            })
        }

        /**
         * 跳转修改登录老师密码页面
         */
        function updateTeacherMySelf() {
            $.ajax({
                type: 'get',
                url: './LoginMag',
                data: {},
                dataType: 'json',
                success: function (data) {
                    //清空right页面
                    $('.right').html("")
                    var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>新密码:</font><input style='margin-left: 15px;' type=\"text\" name=\"lpassword\" id=\"lpassword\" onblur=\"checkInput('lpassword')\">"
                    html += "<span id=\"lpasswordTitle\"></span><br/>"
                    html += "<input id='lid' value='" + data.data.LoginMag.lid + "' type='hidden'></input>"
                    html += "<button onclick=\"isupdateTeacherMySelf()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>修改密码</button></div>"
                    $(".right").append(html);
                }

            })

        }

        /**
         * 修改自己账户密码
         */
        function isupdateTeacherMySelf() {
            if (checkInput('lpassword')) {
                $.ajax({
                    type: 'post',
                    url: './updateLoginByPassword',
                    timeout: 10000,
                    data: {
                        "lid": $("#lid").val().trim(),
                        "lpassword": $("#lpassword").val().trim()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("修改密码成功");
                            window.location.href = "http://localhost:8001"
                        } else {
                            alert("修改密码失败");
                            window.location.href = "http://localhost:8001"
                        }
                    }


                })
            }
        }

        // -------------------------------------------------------------------------------------------------------

        /**
         * 查询课件信息
         * @constructor
         */
        function SelectCoursewareMag() {
            $.ajax({
                type: 'get',
                url: './selectCourseware',
                timeout: 10000,
                data: {},
                dataType: 'json',
                success: function (data) {
                    $('.right').html("")
                    var html = "<table cellpadding= '0' cellspacing= '0'  border=\"1\" align= 'center' id='tableAdmin'>";
                    html += "<tr align='center'><td>序号</td><td>课件名</td><td>课件作者</td><td>课件</td><td>操作</td></tr>"
                    if (data.code == 20000) {
                        $.each(data.data.coursewares, function (i, comment) {
                            html += "<tr align='center'><td>" + comment['cid'] + "</td><td>" + comment['cname'] + "</td><td>" + comment['cauthor'] + "</td><td>" + comment['cware'] + "&nbsp;&nbsp; <form action=\"/upload\" method=\"post\" enctype=\"multipart/form-data\"></input><input type=\"file\" name=\"uploadFile\" value=\"请选择文件\"><input type=\"hidden\" id='cid' class='cid' name='cid' value=\"" + comment['cid'] + "\"><input type=\"submit\" value=\"上传\"></form></td>";
                            html += "<td ><a href='#' onclick='isDeleteCourseware(" + comment.cid + ")'><font color='red'>删除课件信息</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='#' onclick='UpdataCoursewareMag(" + comment.cid + ")'><font color='red'>修改课件信息</font></a></td>";
                        })
                        html += "</tr></table>";
                    } else {
                        alert(data.message);
                    }
                    $(".right").append(html);
                }


            })
        }

        /**
         * 删除课件信息
         * @param cid
         */
        function isDeleteCourseware(cid) {
            $.ajax({
                type: 'post',
                url: './deleteCourseware',
                timeout: 10000,
                data: {
                    "cid": cid
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 20000) {
                        alert("删除成功");
                        SelectCoursewareMag();
                    } else {
                        alert("删除失败");
                        SelectCoursewareMag();
                    }
                }
            })
        }

        /**
         * 跳转新增课件页面
         * @constructor
         */
        function InsertCourseware() {
            //清空right页面
            $('.right').html("")
            var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>课件名:</font><input style='margin-left: 15px;' type=\"text\" name=\"cname\" id=\"cname\" onblur=\"checkInput('cname')\">"
            html += "<span id=\"cnameTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>课件作者:</font><input style='margin-left: 15px;' type=\"text\" name=\"cauthor\" id=\"cauthor\" onblur=\"checkInput('cauthor')\">"
            html += "<span id=\"cauthorTitle\"></span><br/>"
            html += "<button onclick=\"isInsertCourseware()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>添加课件信息</button></div>"
            $(".right").append(html);
        }

        /**
         * 新增课件信息
         */
        function isInsertCourseware() {
            if (checkInput('cname') && checkInput('cauthor')) {
                $.ajax({
                    type: 'post',
                    url: './insertCourseware',
                    timeout: 10000,
                    data: {
                        "cname": $("#cname").val().trim(),
                        "cauthor": $("#cauthor").val().trim()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("添加成功");
                            SelectCoursewareMag();
                        } else {
                            alert("添加失败");
                            InsertCourseware();
                        }
                    }
                })
            }
        }

        /**
         * 跳转修改课件信息界面
         * @constructor
         */
        function UpdataCoursewareMag(cid) {
            $.ajax({
                type: 'get',
                url: './selectCoursewareBycid',
                timeout: 10000,
                data: {
                    "cid": cid
                },
                dataType: 'json',
                success: function (data) {
                    //清空right页面
                    $('.right').html("")
                    var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>学生姓名:</font><input style='margin-left: 15px;' type=\"text\" name=\"cname\" id=\"cname\" onblur=\"checkInput('cname')\" value='" + data.data.selectCoursewareBycid.cname + "'>"
                    html += "<span id=\"cnameTitle\"></span><br/>"
                    html += "<font style='font-size: 20px'>学生生日:</font><input style='margin-left: 15px;' type=\"text\" name=\"cauthor\" id=\"cauthor\" onblur=\"checkInput('cauthor')\" value='" + data.data.selectCoursewareBycid.cauthor + "'>"
                    html += "<span id=\"cauthorTitle\"></span><br/>"
                    html += "<input id='cid' type='hidden' value='" + data.data.selectCoursewareBycid.cid + "'>"
                    html += "<button onclick=\"isUpdateCourseware()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>修改课件信息</button></div>"
                    $(".right").append(html);
                }
            })
        }

        function isUpdateCourseware() {
            if (checkInput('cname') && checkInput('cauthor')) {
                $.ajax({
                    type: 'post',
                    url: './updateCourseware',
                    timeout: 10000,
                    data: {
                        "cname": $("#cname").val().trim(),
                        "cauthor": $("#cauthor").val().trim(),
                        "cid": $("#cid").val().trim()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("修改成功");
                            SelectCoursewareMag();
                        } else {
                            alert("修改失败");
                            SelectCoursewareMag();
                        }
                    }
                })
            }
        }

        // ---------------------------------------------------------------------------------------------------------------
        /**
         * 查询视频信息
         * @constructor
         */
        function SelectVideoMag() {
            $.ajax({
                type: 'get',
                url: './selectVideo',
                timeout: 10000,
                data: {},
                dataType: 'json',
                success: function (data) {
                    $('.right').html("")
                    var html = "<table cellpadding= '0' cellspacing= '0'  border=\"1\" align= 'center' id='tableAdmin'>";
                    html += "<tr align='center'><td>序号</td><td>视频名</td><td>视频作者</td><td>视频</td><td>操作</td></tr>"
                    if (data.code == 20000) {
                        $.each(data.data.Videos, function (i, comment) {
                            html += "<tr align='center'><td>" + comment['vid'] + "</td><td>" + comment['vname'] + "</td><td>" + comment['vauthor'] + "</td><td>" + comment['vware'] + "&nbsp;&nbsp; <form action=\"/uploadV\" method=\"post\" enctype=\"multipart/form-data\"></input><input type=\"file\" name=\"uploadFile\" value=\"请选择文件\"><input type=\"hidden\" id='vid' class='vid' name='vid' value=\"" + comment['vid'] + "\"><input type=\"submit\" value=\"上传\"></form></td>";
                            html += "<td ><a href='#' onclick='isDeleteVideo(" + comment.vid + ")'><font color='red'>删除视频信息</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href='#' onclick='UpdataVideoMag(" + comment.vid + ")'><font color='red'>修改视频信息</font></a></td>";
                        })
                        html += "</tr></table>";
                    } else {
                        alert(data.message);
                    }
                    $(".right").append(html);
                }


            })
        }

        /**
         * 删除视频信息
         * @param cid
         */
        function isDeleteVideo(vid) {
            $.ajax({
                type: 'post',
                url: './deleteVideo',
                timeout: 10000,
                data: {
                    "vid": vid
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 20000) {
                        alert("删除成功");
                        SelectVideoMag();
                    } else {
                        alert("删除失败");
                        SelectVideoMag();
                    }
                }
            })
        }

        /**
         * 跳转新增视频信息页面
         * @constructor
         */
        function InsertVideo() {
            //清空right页面
            $('.right').html("")
            var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>视频名:</font><input style='margin-left: 15px;' type=\"text\" name=\"vname\" id=\"vname\" onblur=\"checkInput('vname')\">"
            html += "<span id=\"vnameTitle\"></span><br/>"
            html += "<font style='font-size: 20px'>视频作者:</font><input style='margin-left: 15px;' type=\"text\" name=\"vauthor\" id=\"vauthor\" onblur=\"checkInput('vauthor')\">"
            html += "<span id=\"vauthorTitle\"></span><br/>"
            html += "<button onclick=\"isInsertVideo()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>添加视频信息</button></div>"
            $(".right").append(html);
        }

        /**
         * 新增课件信息
         */
        function isInsertVideo() {
            if (checkInput('vname') && checkInput('vauthor')) {
                $.ajax({
                    type: 'post',
                    url: './insertVideo',
                    timeout: 10000,
                    data: {
                        "vname": $("#vname").val().trim(),
                        "vauthor": $("#vauthor").val().trim()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("添加成功");
                            SelectVideoMag();
                        } else {
                            alert("添加失败");
                            SelectVideoMag();
                        }
                    }
                })
            }
        }

        /**
         * 跳转修改课件信息界面
         * @constructor
         */
        function UpdataVideoMag(vid) {
            $.ajax({
                type: 'get',
                url: './selectVideoByvid',
                timeout: 10000,
                data: {
                    "vid": vid
                },
                dataType: 'json',
                success: function (data) {
                    //清空right页面
                    $('.right').html("")
                    var html = "<div style='margin-top: 5px'><font style='font-size: 20px'>学生姓名:</font><input style='margin-left: 15px;' type=\"text\" name=\"vname\" id=\"vname\" onblur=\"checkInput('vname')\" value='" + data.data.selectVideoByvid.vname + "'>"
                    html += "<span id=\"vnameTitle\"></span><br/>"
                    html += "<font style='font-size: 20px'>学生生日:</font><input style='margin-left: 15px;' type=\"text\" name=\"vauthor\" id=\"vauthor\" onblur=\"checkInput('vauthor')\" value='" + data.data.selectVideoByvid.vauthor + "'>"
                    html += "<span id=\"vauthorTitle\"></span><br/>"
                    html += "<input id='vid' type='hidden' value='" + data.data.selectVideoByvid.vid + "'>"
                    html += "<button onclick=\"isUpdateVideo()\" style='margin-top: 15px;text-align: center;margin-left: 124px'>修改视频信息</button></div>"
                    $(".right").append(html);
                }
            })
        }

        function isUpdateVideo() {
            if (checkInput('vname') && checkInput('vauthor')) {
                $.ajax({
                    type: 'post',
                    url: './updateVideo',
                    timeout: 10000,
                    data: {
                        "vname": $("#vname").val().trim(),
                        "vauthor": $("#vauthor").val().trim(),
                        "vid": $("#vid").val().trim()
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.code == 20000) {
                            alert("修改成功");
                            SelectVideoMag();
                        } else {
                            alert("修改失败");
                            SelectVideoMag();
                        }
                    }
                })
            }
        }

        // ---------------------------------------------------------------------------------------------------------
        function SelectMessageMag() {
            $.ajax({
                type: 'get',
                url: './selectMessage',
                timeout: 10000,
                data: {},
                dataType: 'json',
                success: function (data) {
                    console.log(data)
                    $('.right').html("")
                    var html = "<table cellpadding= '0' cellspacing= '0'  border=\"1\" align= 'center' id='tableAdmin'>";
                    html += "<tr align='center'><td>序号</td><td>学生问题</td><td>老师回答</td><td>回答老师</td><td>操作</td></tr>"
                    if (data.code == 20000) {
                        $.each(data.data.messages, function (i, comment) {
                            html += "<tr align='center'><td>" + comment['mid'] + "</td><td>" + comment['mquestion'] + "</td><td><textarea id='textareaMas' style='width: 255px;height: 101px'>" + comment['manswers'] + "</textarea></td><td>" + comment['teacher']['tname'] + "</td>";
                            html += "<td ><a href='#' onclick='isDeleteMessage(" + comment.mid + ")'><font color='red'>删除问答信息</font></a>&nbsp;&nbsp;|&nbsp;&nbsp;";
                            if (comment['manswers'] == "") {
                                html += " <a href='#' onclick='UpdataMessageMag(" + comment.mid + ")'><font color='red'>问答问题</font></a></td>"
                            } else {
                                html += " <a href='#' onclick='UpdataMessageMag(" + comment.mid + ")'><font color='red'>修改问题答案</font></a></td>"
                            }
                        })
                        html += "</tr></table>";
                    } else {
                        alert(data.message);
                    }
                    $(".right").append(html);
                }


            })
        }

        function isDeleteMessage(mid) {
            $.ajax({
                type: 'post',
                url: './deleteMessage',
                timeout: 10000,
                data: {
                    "mid": mid
                },
                dataType: 'json',
                success: function (data) {
                    if (data.code == 20000) {
                        alert("删除成功");
                        SelectMessageMag()
                    } else {
                        alert("删除失败");
                        SelectMessageMag()
                    }
                }
            })
        }

    </script>
</head>
<body>
<div id="top">
    <div class="l">老师后台管理</div>
    <div class="r"><strong id="strong1"></strong>，欢迎您！ | <a href="#" onclick="updateTeacherMySelf()">修改密码</a>
        | <a href="http://localhost:8001">退出</a></div>
</div>
<div id="center">
    <div id="all">
        <div class="left">
            <div id="menus">
                <h3>教学课件管理</h3>
                <div class="m" style="display:block;">
                    <div onclick="SelectCoursewareMag()">查看教学课件信息</div>
                    <div onclick="InsertCourseware()">新增教学课件信息</div>
                </div>
                <h3>教学视频管理</h3>
                <div class="m" style="display:block;">
                    <div onclick="SelectVideoMag()">查看教学视频信息</div>
                    <div onclick="InsertVideo()">新增教学视频信息</div>
                </div>
                <h3>师生交流管理</h3>
                <div class="m" style="display:block;">
                    <div onclick="SelectMessageMag()">查看留言信息</div>
                </div>
            </div>
        </div>
        <div class="right" style="width:90%;height:100%;">

        </div>
    </div>
</div>
<div id="foot">老师</div>
</body>
</html>