<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdgx.mapper.LoginusersMapper">

    <select id="loginAllUser" resultType="com.kdgx.entity.Loginusers">
        select *
        from loginusers
        where lusername = #{lusername}
          and lpassword = #{lpassword}
          and lisadmin = #{lisadmin}
    </select>


</mapper>

