<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdgx.mapper.LoginusersMapper">

    <select id="loginAllUser" resultType="com.kdgx.entity.Loginusers">
        select *
        from loginusers
        where lusername = #{lusername}
          and lpassword = #{lpassword}
    </select>

    <select id="selectLoginUsers" resultType="com.kdgx.entity.Loginusers">
        select *
        from loginusers
    </select>

    <insert id="insertlogin" parameterType="com.kdgx.entity.Loginusers">
        insert into loginusers(lusername,lpassword,lisadmin) values (#{lusername},#{lpassword},#{lisadmin})
    </insert>

    <delete id="deleteLogin" parameterType="com.kdgx.entity.Loginusers">
        delete from loginusers where lid = #{lid}
    </delete>

    <update id="updateLogin" parameterType="com.kdgx.entity.Loginusers">
        update loginusers set lusername = #{lusername},lpassword = #{lpassword} where lid = #{lid}
    </update>


</mapper>

